Options -Indexes
<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>
RewriteEngine On
RewriteRule ^api/database/ - [F,L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin(/.*)?$ /admin/index.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^ /index.html [L]
