Options -Indexes
<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>
<FilesMatch "^config\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]
