Options -Indexes
<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>
RewriteEngine On
RewriteBase /tiem-banh-ngot/
RewriteRule ^api/database/ - [F,L]
RewriteCond %{REQUEST_URI} ^/tiem-banh-ngot/admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin(/.*)?$ admin/index.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/tiem-banh-ngot/api/
RewriteRule ^ index.html [L]
