Options -Indexes
<FilesMatch "\.(db|sql|sh|mjs|bat|log)$">
    Order allow,deny
    Deny from all
</FilesMatch>
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
