Options -Indexes
# Block direct DB access
<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>
# Block config access
<FilesMatch "^config\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
