<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="PUT" allowed="true"/>
          <add verb="DELETE" allowed="true"/>
          <add verb="PATCH" allowed="true"/>
        </verbs>
        <denyUrlSequences>
          <add sequence="/database/" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="block-db-files" stopProcessing="true">
          <match url="^database/.*" />
          <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="api-php" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
