<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="block-db">
          <match url="^api/database/.*"/>
          <action type="CustomResponse" statusCode="403"/>
        </rule>
        <rule name="admin-spa">
          <match url="^admin(/.*)?$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/admin/index.html"/>
        </rule>
        <rule name="main-spa">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
